<div>
  <h1>Produits "selection du mois</h1>
  <table>
    <thead>
      <tr>
        <th>Photo</th>
        <th>Name</th>
        <th>Lait</th>
        <th>desciption</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each produits}}
        <tr>
          <td><img src="{{imgurl}}" alt="{{name}}" />
          <form action="/produits/{{id}}/edit-photo">
            <label for="photo-{{id}}">Photo</label>
            <input type="file" id="photo-{{id}}" name="photo" /><br />
            <button type="submit">Valider</button>
          </form>
          </td>
          <td>{{name}}</td>
          <td>{{lait}}</td>
          <td>{{desciption}}</td>
          <td>
            <button id="edit-{{id}}">Edit</button>
            <form
              id="modal{{id}}"
              class="modal"
              action="/produit/{{id}}/edit"
              method="post"
            >
              <label for="name-{{id}}">Nom</label>
              <input
                type="text"
                id="name-{{id}}"
                name="name"
                placeholder="{{name}}"
                value="{{name}}"
              /><br />
              <label for="lait">Lait</label>
              <select id="lait" name="lait">
                <option value="Vache">Vache</option>
                <option value="Brebis">Brebis</option>
                <option value="Chèvre">Chèvre</option>
                <option value="Buffelone">Buffelone</option>
                <option value="Autre">Autre</option>
              </select>
              <label for="description-{{id}}">Description</label>
              <textarea
                id="description-{{id}}"
                name="description"
                placeholder="{{description}}"
              >{{description}}</textarea><br />
              <label for="photo-{{id}}">Photo</label>
              <button type="submit">Valider</button>
            </form>
            <a href="/admin/delete/{{id}}">Delete</a>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>