<div>

  <h1>Produits "selection du mois"</h1>
  <table class="produits-admin">
    <thead>
      <tr>
        <th class="th-td-photo">Photo</th>
        <th class="th-td-name">Name</th>
        <th class="th-td-lait">Lait</th>
        <th class="th-td-desc">desciption</th>
        <th class="th-td-action"></th>
      </tr>
    </thead>
    <tbody>
      {{#each produits}}
        <tr>
          <td class="th-td-photo">
            <img class="img-admin" src="{{imgUrl}}" alt="{{name}}" />
          </td>
          <td class="th-td-name">{{name}}</td>
          <td class="th-td-lait">{{lait}}</td>
          <td class="th-td-desc">{{description}}</td>
          <td class="th-td-action">
            <div class="btn-container">
              <a class="btn-admin" href="/produits/{{id}}/edit">Modifier textes</a>
              <a class="btn-admin" href="/produits/{{id}}/edit-photo">Modifier photo</a>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>